<header>
    <h2>{{title}}</h2>
</header>
<br>
<article>
<form>
<div class = "example-container">
    <mat-form-field appearance="fill">
        <input matInput placeholder="vineeth@gmail.com" [(ngModel)]="emailid" [formControl]="email" required>
        <mat-icon matSuffix><span class="material-icons">email</span> </mat-icon>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
     <br>
     <br>
</div>
     <div class = "example-container"> 
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginpassword" name="password" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
        </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color (click)="login()">Login</button>
        
      

</div>
</form>
</article>