table {
    width: 100%;
  }
  header {
    background-color: rgb(154, 216, 235);
    padding: 5px;
    text-align: center;
    font-size: 10px;
    color:red;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }